.loading-overlay {
  z-index: 1050;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

// .loading {
//   display: inline-block;
//   width: 30px;
//   height: 30px;
//   border: 2px solid rgba(0,0,0, 0.2);
//   border-radius: 50%;
// //   border-top-color: $theme-color-1;
//   animation: spin 1s ease-in-out infinite;
//   -webkit-animation: spin 1s ease-in-out infinite;
//   left: calc(50% - 15px);
//   top: calc(50% - 15px);
//   position: fixed;
//   z-index: 1;
// }

// @keyframes spin {
//   to {
//     -webkit-transform: rotate(360deg);
//   }
// }

// @-webkit-keyframes spin {
//   to {
//     -webkit-transform: rotate(360deg);
//   }
// }

.loading{
    display: inline-block;
    width: 6.4rem;
    height: 6.4rem;
    background: url("/assets/img/mobile/loading_bar.gif") no-repeat 50% 50%;
    left: calc(50% - 3.2rem);
    top: calc(50% - 3.2rem);
    position: fixed;
    z-index: 1;

}